<div class="dropdown">
  <a class="dropbtn">{{ page.lang }}</a>
  <div class="dropdown-content">
    {% for language in site.languages %}
        {% if page.date %}
          {% for post in site.posts %}
            {% if page.date == post.date and post.lang == language.key %}
              <a class="lang-link{% if page.lang == language.key %} active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">
                {{ language.name }}
              </a>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for post in site.pages %}
            {% if page.role == post.role and post.lang == language.key %}
              <a class="lang-link{% if page.lang == language.key %} active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">
                {{ language.name }}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
  </div>
</div>